<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Yelp</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>

<body>
<br>
<br>
 <div class="col-xs-6 col-sm-4"></div>
 <div class="col-xs-6 col-sm-4">
<form action="{% url 'searchyelp' %}" method="post">
  <div class="form-group">
    <label for="term">Term</label>
    <input type="text" class="form-control" id="term" name="term" placeholder="Enter Term">
  </div>
  <div class="form-group">
    <label for="latitude">Latitude</label>
    <input type="text" class="form-control" id="latitude" name="latitude"placeholder="Latitude">
  </div>
  <div class="form-group">
    <label for="longitude">Longitude</label>
    <input type="text" class="form-control" id="longitude" name="longitude" placeholder="Longitude">
  </div>
  <div class="form-group">
    <label for="miles">Miles</label>
    <input type="text" class="form-control" id="miles" name="miles" placeholder="Miles">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
     {% csrf_token %}
</form>

 </div>
  <div class="col-xs-6 col-sm-4"></div>
</body>
</html>